/*
Vars
*/
$black: #010000;
$white: #ffffff;
$lightgrey: #BBB;
$lightergrey: #e6e6e6;
$grey: #999;
$darkgrey: #333;
$red: #ff1755;
$blue: #0000ff;

/*
Mixins
*/

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
          transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
    -moz-transition:$e;
          transition:$e;
}


/* Fonts -

regular 400
regular 400 Italic
bold 700
bold 700 Italic

*/


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;

}


.App{
  min-height:100vh;

  height: auto !important;
  position:relative;

  padding-bottom:100px;
}

a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $white;
    @include transition(.4s ease-in-out);
  }
}
.container-fluid {
  line-height: 24px;
}
