@import "_config.scss";
@import "homepage.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  left:0;
  background: $darkgrey;
  color: $white;
  .logo {
    position: absolute;
    top: 50%; left: 20px;
    font-size: calc(1vw + 10px);
    max-width:40%;
    @include translateY(-50%);
    img {
      width:10%;
      height:width;
      position: relative;
      left:-10px;
    }
  }
  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;

  }
 //for desktop
  nav {
    position: absolute;
    top: 50%; right: 0;
    max-width:60%;
    @include translateY(-50%);
    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 2vw;

      &.last {
        margin-left: 0;
      }
      a {
        font-size:  calc(1vw + 10px);
        line-height: normal;
        color: $lightgrey;
      }
    }
  }
}



footer {
  position: absolute;
  bottom:0;
  width: 100%;
  left:0;
  background: $darkgrey;
  color: $white;
  height: 40px;
  list-style-type: none;
  display: inline-block;

  .home{
    a{
      color:$lightgrey;
      display: inline-block;
      font-size: calc(1.2vw + 2px);
      line-height:normal;
    }
    position: absolute;
    top: 50%; left: 2vh;
    @include translateY(-50%);
  }

  .contactInfo {
    position:absolute;
    top: 50%;left:40vw;
    @include transition(.4s ease-in-out);
    @include translateY(-50%);
    font-size: calc(1vw + 4px);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }
  nav {
    display: inline-block;
    position: absolute;
    top: 50%;left: 60vw;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-left: 20px;
      a {
        font-size: calc(1vw + 2px);
        line-height: normal;
        color: $grey;
      }
    }
  }

}
