@import "_config.scss";
header {
  position: relative;
  display: block;
  width: 100%;
  background: $darkgrey;
  color: $white;
  height: 90px;

  .logo {



    position: absolute;
    top: 50%; left: 20px;
    @include translateY(-50%);
    img {
      width:10%;
      height:width;
    position: relative;
    left:-10px;
    }
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;

  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin-left: 0;
      }
      a {
        font-size: 19px;
        line-height: normal;
        color: $lightgrey;
      }
    }
  }
}
footer {
  position: absolute;
  bottom:0;
  width: 100%;

  background: $darkgrey;
  color: $white;
  height: 60px;

  .home{
    a{
      color:$lightgrey;
      display: inline-block;
      font-size: 24px;
      line-height: normal;
    }
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }

  .contactInfo {
    position: absolute;
    top: 50%; right: 400px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;

  }

  nav {
    position: absolute;
    top: 50%; right: 200px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin-left: 0;
      }
      a {
        font-size: 19px;
        line-height: normal;
        color: $grey;
      }
    }
  }
}
