@import "_config.scss";



.homePage {

  position: absolute;
  top:0;
  width:100%;
  height: calc(100% - 60px);

  .image{
      height:100%;
      -webkit-animation: 0.5s ease-in-out both;
      @include animation-keyframes {
        from {
          -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
          opacity: 0;
        }
        to {
          -webkit-transform: translateY(0);
                transform: translateY(0);
          opacity: 1;
        }
      }
      img {

        object-fit:cover;
        object-position: center;
        width:100%;
        height:100%;
        @include transition(.4s ease-in);
        }

      .title{
        color:$white;
        font-size:calc(4vw + 20px);
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-text-stroke: 1px black;
        @include transition(.4s ease-in);
      }
    }
    /*
  .bar{
      -webkit-animation: 0.5s ease-in-out both;
      @include animation-keyframes {
        from {
          -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
          opacity: 0;
        }
        to {
          -webkit-transform: translateY(0);
                transform: translateY(0);
          opacity: 0;
        }
      }
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      background: $darkgrey;
      color: $white;
      nav,
      nav ul,
      nav ul li {
        margin: 0;
        padding: 0;

      }

     //for desktop
      nav {
        position: absolute;
        left: 30%;
        top: 30%;
        @include translateY(-50%);
        ul li {
          list-style-type: none;
          display: inline-block;
          margin-right: 2vw;

          &.last {
            margin-left: 0;
          }
          a {
            font-size:  calc(1vw + 10px);
            line-height: normal;
            color: $lightgrey;
          }
        }
  }
  */
}
